* {
  transition: all 0.3s;
}

body {
  font-family: Roboto, 'Open Sans', sans-serif, Vazirmatn;
}

li {
  color: #464646;
  list-style-position: inside;
}

p {
  margin: 0;
  color: #464646;
}

ul {
  margin: 0;
  padding: 0px 0px;
}

.card {
  .card-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
  }
}

.fa-square-phone {
  color: #2079c7;
}
.fa-whatsapp {
  color: #128C7E;
}
.fa-telegram {
  color: #2AABEE;
}
.fa-envelope {
  color: #b75600;
}
.fa-file-pdf {
  color: #b40000;
}

.experience img, .courses img {
  float: right;
  max-width: 55px;
  height: auto;
}
