@import "@fontsource/roboto";

* {
  transition: all .3s;
}


li {
  color: #464646;
}

p {
  margin: 0;
  color: #464646;
}

ul {
  margin: 0;
  padding: 0px 10px;
}

.card {
  .card-header {
    background-color: #2079c7;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
  }
}
