@import '@fontsource/roboto';

* {
  transition: all 0.3s;
}

body {
  font-family: roboto;
  // background: #f7f7f7;
  // background: linear-gradient(190deg,#ffffff 1.88%,#f7f7f7 10.48%);
}

li {
  color: #464646;
}

p {
  margin: 0;
  color: #464646;
}

ul {
  margin: 0;
  padding: 0px 10px;
}

.card {
  .card-header {
    // background-color: #0a2c4a;
    // color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
  }
}

.fa-square-phone {
  color: #2079c7;
}
.fa-whatsapp {
  color: #128C7E;
}
.fa-telegram {
  color: #2AABEE;
}
.fa-envelope {
  color: #b75600;
}
.fa-file-pdf {
  color: #b40000;
}

.experience img, .courses img {
  float: right;
  max-width: 55px;
  height: auto;
}
